<h1> Your Book Selection: </h1>


<% book_id = params["id"] %>
<% book = Book.read(book_id) %>
<% avgrating = Reviews.where("title" => book["title"]).average("rating") %>

<h2><%= book["title"] %> </h2>

<p> Author: <%= book["author"] %> </p>

<p> Price: $<%= book["price"] %>.00 </p>

<p> Average rating (out of 5 stars): <%= avgrating %> </p>



<table style="width:500px; height:200px; border:1px solid black;
border-collapse:collapse">

<% all_reviews = Reviews.where("title" => book["title"]) %>

<tr>
    <th> Rating </th>
    <th> Feedback </th>
  </tr>

<% all_reviews.each do |review| %>
<tr style="border:1px solid black;
border-collapse:collapse; padding:15px">

<td style="border:1px solid black;
border-collapse:collapse; padding:15px"> <%= review["rating"] %> </td>

<td style="border:1px solid black;
border-collapse:collapse; padding:15px"> <%= review["feedback"] %> </td>

</tr>

<% end %>




